body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .task {
    border: 2px black solid;
  }
  
  #outerContainer {
    max-width: none;
  }
  
  .profile-pic {
    border-radius: 100%;
    margin-bottom: 30px;
    height: 200px;
  }
  
  #profileContainer a {
    display: block;
    margin: 15px 0px;
    width: 50%;
  }
  
  #friendStatuses, #tasks {
    width: 75%;
  }
  
  .task-pfp {
    width: 70px;
    height: 70px;
    border-radius: 100%;
  }
  .friend-name {
    font-size: 30px;
    vertical-align: middle;
  }
  
  .container{
    background-color: #ffffff;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
  }
  .timerDisplay{
    position: relative;
    width: 92%;
    background: #ffffff;
    left: 4%;
    padding: 40px 0;
    font-family: 'Roboto mono',monospace;
    color: #0381bb;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
  }
  .buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .buttons button{
    width: 120px;
    height: 45px;
    background-color: #205e94;
    color: #ffffff;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  .buttons button:nth-last-child(2){
  background-color: #d23332;
  }
  .buttons button:nth-last-child(1){
  background-color: #20b380;
  }
  
  .i {
    font-style: italic;
  }
  
  .grey {
    color: #636363;
  }
  
  .task-overlay {
    background-color: rgb(172, 172, 167);
    margin-top: -42px;
    z-index: 10;
    height:42px;
    width:100px;
    float: right;
  }
  .task {
    z-index: -1;
    text-align: left;
  }